body {
    font-family: 'LoveYaLikeASister', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
