@font-face {
    font-family: 'LoveYaLikeASister';
    src: url(../assets/webfonts/love-ya-like-a-sister-v11-latin-regular.woff2) format('woff2'),
    url(../assets/webfonts/love-ya-like-a-sister-v11-latin-regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}